elf2hex/Makefile
elf2hex/autom4te.cache
elf2hex/config.log
elf2hex/config.status
*.o
*.swp
elf2hex/.deps
elf2hex/test-driver
*.log
*.trs
*.swo
elf2hex/*.tar.gz
elf2hex/freedom-bin2hex
elf2hex/elf2hex
elf2hex/bin2hex

simv.daidir/
csrc/
ucli.key
simv
compile.log
sim/commits.txt
sim/flushes.txt
